{% extends 'AppBundle:Default:index.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    <script src="{{ asset("assets/js/vote.js") }}"></script>
    <div class="container">
        {{ wo_render_breadcrumbs() }}
        <div class="row">
            {% include "AppBundle:Parts:flashbag.html.twig" %}
            {% set type = type is defined ? type : "dernières quotes" %}
            <h1 class="h2">La déprime - {{ limit }} {{ type }}</h1>
            {% if more is defined %}
            <p>{{ more }}</p>
            {% endif %}
            {% for quote in quotes %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Posté par {{ quote.author.username|default("un utilisateur anonyme") }}
                            le {{ quote.date|date("y-m-d") }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ quote.content }}
                    </div>
                    <div class="panel-footer">
                        Votez :
                        <span data-toggle="tooltip" data-placement="right" title="Voter pour (+)">
                            <button type="button" class="btn-link"
                                    id="voteYes{{ quote.id }}" data-quote="{{ quote.id }}">
                                (+)
                            </button>
                            <span id="yes{{ quote.id }}" data-quote="{{ quote.id }}">
                                <i class="fa fa-spinner" aria-hidden="true"></i>
                            </span>
                        </span>
                        <span data-toggle="tooltip" data-placement="right" title="Voter contre (-)">
                            <button type="button" class="btn-link"
                                    id="voteNo{{ quote.id }}" data-quote="{{ quote.id }}">
                                (-)
                            </button>
                            <span id="no{{ quote.id }}" data-quote="{{ quote.id }}">
                                <i class="fa fa-spinner" aria-hidden="true"></i>
                            </span>
                         </span>
                        <span id="returnMessage{{ quote.id }}"></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
